.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(109, 226, 255);
    padding: 10px;
}
.Btn-Box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.BTN{
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(219, 212, 212);
}